<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask News App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Top Headlines</h1>
        <ul>
            {% for n, d, i in context %}
            <li>
                <img src="{{ i }}" alt="News Image">
                <div class="news-content">
                    <h2>{{ n }}</h2>
                    <p>{{ d }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
