<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="jumbotron" style="color:black">

        <h1 style="color:black">
            Flask News Web App
        </h1>

    </div>

    <div class="container">

        {% for new, des, i in context %}
        
            <img src="{{i}}">
            <h3>News: </h3> {{new}}
            <h4>Description: </h4> {{des}}

        {% endfor %}

    </div>


</body>
</html>